.md-plus,
.md-equal {
  font-family: Arial;
  font-weight: bold;
}

.mat-raised-button {
  max-height: 50px;
}

/*
.mat-form-field ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}*/

.mat-form-field .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: lightgrey;
  height: 1px;
}
